#home {
    background-position: center center;
    min-height: 700px;}


.center {
    padding:15em 0 ;
    text-align: center;
}

.left_test{
    position: relative;
    left: 20px;
    top: 150px;
    bottom: 50px;
    width: 420px;
    height: 250px;
    text-align: center;
}

.section {
    padding: 3em 0; }

.separator{
    margin-top: 50px;
}

.d3-tip {
    line-height: 1.5;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 0px;
    text-align: center;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    vertical-align: top;
    overflow: hidden;
}
svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
