#home {
    background-position: center center;
    min-height: 700px;}


.center {
    padding:15em 0 ;
    text-align: center;
}

.bg-image, .ftco-cover {
    background-size: cover;
    background-repeat: no-repeat;
}

.ftco-cover {
    background-position: center center;}
.ftco-cover .ftco-heading {
    font-size: 70px;
    line-height: 1.2;
    color: #fff; }
@media (max-width: 991.98px) {
    .ftco-cover .ftco-heading {
        font-size: 37px;
        line-height: 1.3; } }
.ftco-cover .ftco-subheading {
    max-width: 450px;
    line-height: 1.5; }
.ftco-cover .ftco-subheading, .ftco-cover p {
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-family: "Komika Hand";
}
@media (max-width: 991.98px) {
    .ftco-cover .btn {
        width: 100% !important; } }
.ftco-cover a {
    position: relative;
    color: #fff; }
.ftco-cover.overlay {
    position: relative; }
.ftco-cover.overlay:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
.ftco-cover .ftco-vh-100 {
    min-height: 700px !important; }



.left_test{
    position: relative;
    margin-top: 10%;
    left: 20px;
    top: 150px;
    bottom: 50px;
    width: 420px;
    height: 250px;
    text-align: center;
}

.section {
    padding: 1em 0;
}

.separator{
    margin-top: 10%;
}

.d3-tip {
    line-height: 1.5;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 0px;
    text-align: center;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}
#parallel{
    padding-bottom: 0%;
}

svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}



body {
    min-width: 760px;

}

.parcoords {
    display: block;
}

.parcoords svg,
.parcoords canvas {
    font: 10px sans-serif;
    position: absolute;
}

.parcoords canvas {
    opacity: 0.9;
    pointer-events: none;
}

.axis .title {
    font-size: 10px;
    transform: rotate(-21deg) translate(-5px,-6px);
    fill: #222;
}

.axis line,
.axis path {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

.axis .tick text {
    fill: #222;
    pointer-events: none;
}

.axis.pl_facility .tick text,
.axis.pl_instrument .tick text,
.axis.st_spstr .tick text {
    font-size: 6px;
}

.axis.pl_telescope .tick text {
    font-size: 5px;
}

.axis:hover line,
.axis:hover path,
.axis.active line,
.axis.active path {
    fill: none;
    stroke: #222;
    stroke-width: 1px;
}

.axis:hover .title {
    font-weight: bold;
}

.axis:hover .tick text {
    opacity: 1;
}

.axis.active .title {
    font-weight: bold;
}

.axis.active .tick text {
    opacity: 1;
    font-weight: bold;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    stroke-width: 1px;
}

pre {
    width: 100%;
    height: 300px;
    margin: 6px 12px;
    tab-size: 40;
    font-size: 10px;
    overflow: auto;
}

.content {
    margin-top: 20px;
    font-size: 17px;
}
